flows.json
[{"id":"a421e45b.deda88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cdd8b284.69134","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"2c85379b.c3d118","type":"inject","z":"a421e45b.deda88","name":"100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":430,"y":400,"wires":[["6056e2a4.7dacec","f0af3f4e.f871b"]]},{"id":"e2481f4a.52a82","type":"inject","z":"a421e45b.deda88","name":"200","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":430,"y":460,"wires":[["6056e2a4.7dacec","f0af3f4e.f871b"]]},{"id":"7b640ae4.f5bc74","type":"inject","z":"a421e45b.deda88","name":"300","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":430,"y":520,"wires":[["6056e2a4.7dacec","f0af3f4e.f871b"]]},{"id":"6b306df7.162c24","type":"inject","z":"a421e45b.deda88","name":"400","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"400","payloadType":"num","x":430,"y":580,"wires":[["6056e2a4.7dacec","f0af3f4e.f871b"]]},{"id":"1805d411.8b708c","type":"inject","z":"a421e45b.deda88","name":"500","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"500","payloadType":"num","x":430,"y":640,"wires":[["6056e2a4.7dacec","f0af3f4e.f871b"]]},{"id":"6056e2a4.7dacec","type":"influxdb out","z":"a421e45b.deda88","influxdb":"cdd8b284.69134","name":"","measurement":"input","precision":"","retentionPolicy":"","x":1080,"y":400,"wires":[]},{"id":"f0af3f4e.f871b","type":"debug","z":"a421e45b.deda88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":480,"wires":[]},{"id":"516540a0.62b9e","type":"inject","z":"a421e45b.deda88","name":"","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":420,"y":220,"wires":[["397994cb.913bfc"]]},{"id":"397994cb.913bfc","type":"DeviceStats","z":"a421e45b.deda88","name":"","mem":true,"nw":false,"load":true,"hostname":false,"useString":false,"x":650,"y":220,"wires":[["17d46dba.732272"]]},{"id":"17d46dba.732272","type":"function","z":"a421e45b.deda88","name":"","func":"var obj = msg.payload;\nmyObj = {};\nmyObj.cpu = obj.load[0];\nmyObj.mem = obj.mem.used;\nmsg.payload = myObj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":220,"wires":[["9b3be86a.f4d5c8","aa946146.09d47"]]},{"id":"9b3be86a.f4d5c8","type":"influxdb out","z":"a421e45b.deda88","influxdb":"cdd8b284.69134","name":"","measurement":"system","precision":"","retentionPolicy":"","x":1080,"y":220,"wires":[]},{"id":"aa946146.09d47","type":"debug","z":"a421e45b.deda88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":300,"wires":[]}]